.log-in-general-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.log-in-title {
    font-size: 40px;
}

.log-in-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.log-in-label {
    font-size: 20px;
}

.log-in-username {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.log-in-password {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

input.log-in {
    height: 30px;
    width: 250px;
}

.log-in-submit {
    background-color: #5caa3e;
    color: #062704;
    font-size: 20px;
    border-radius: 5px;
}